### Data-2

In [575]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [576]:
data_2 = pd.read_csv('../DataSet/Screening/Autism adults/csv_result-Autism-Adult-Data.csv')

In [577]:
data_2

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,1,0,0,1,1,0,...,f,White-European,no,no,United States,no,6,18 and more,Self,NO
1,2,1,1,0,1,0,0,0,1,0,...,m,Latino,no,yes,Brazil,no,5,18 and more,Self,NO
2,3,1,1,0,1,1,0,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more,Parent,YES
3,4,1,1,0,1,0,0,1,1,0,...,f,White-European,no,yes,United States,no,6,18 and more,Self,NO
4,5,1,0,0,0,0,0,0,1,0,...,f,?,no,no,Egypt,no,2,18 and more,?,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,700,0,1,0,1,1,0,1,1,1,...,f,White-European,no,no,Russia,no,7,18 and more,Self,YES
700,701,1,0,0,0,0,0,0,1,0,...,m,Hispanic,no,no,Mexico,no,3,18 and more,Parent,NO
701,702,1,0,1,1,1,0,1,1,0,...,f,?,no,no,Russia,no,7,18 and more,?,YES
702,703,1,0,0,1,1,0,1,0,1,...,m,South Asian,no,no,Pakistan,no,6,18 and more,Self,NO
703,704,1,0,1,1,1,0,1,1,1,...,f,White-European,no,no,Cyprus,no,8,18 and more,Self,YES

In [578]:
data_2.drop('id', axis=1, inplace=True)

In [579]:
display(data_2)

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,18 and more,?,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,f,White-European,no,no,Russia,no,7,18 and more,Self,YES
700,1,0,0,0,0,0,0,1,0,1,...,m,Hispanic,no,no,Mexico,no,3,18 and more,Parent,NO
701,1,0,1,1,1,0,1,1,0,1,...,f,?,no,no,Russia,no,7,18 and more,?,YES
702,1,0,0,1,1,0,1,0,1,1,...,m,South Asian,no,no,Pakistan,no,6,18 and more,Self,NO
703,1,0,1,1,1,0,1,1,1,1,...,f,White-European,no,no,Cyprus,no,8,18 and more,Self,YES

#### Converting binary categorial variable to numerical variables

In [580]:
data_2['gender'].replace(['f','m'], [0,1] ,inplace=True)
data_2['jundice'].replace(['no','yes'], [0,1] ,inplace=True)
data_2['austim'].replace(['no','yes'], [0,1] ,inplace=True)
data_2['used_app_before'].replace(['no','yes'], [0,1] ,inplace=True)
data_2['Class/ASD'].replace(['NO','YES'], [0,1] ,inplace=True)

In [581]:
data_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,0,White-European,0,0,United States,0,6,18 and more,Self,0
1,1,1,0,1,0,0,0,1,0,1,...,1,Latino,0,1,Brazil,0,5,18 and more,Self,0
2,1,1,0,1,1,0,1,1,1,1,...,1,Latino,1,1,Spain,0,8,18 and more,Parent,1
3,1,1,0,1,0,0,1,1,0,1,...,0,White-European,0,1,United States,0,6,18 and more,Self,0
4,1,0,0,0,0,0,0,1,0,0,...,0,?,0,0,Egypt,0,2,18 and more,?,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,0,White-European,0,0,Russia,0,7,18 and more,Self,1
700,1,0,0,0,0,0,0,1,0,1,...,1,Hispanic,0,0,Mexico,0,3,18 and more,Parent,0
701,1,0,1,1,1,0,1,1,0,1,...,0,?,0,0,Russia,0,7,18 and more,?,1
702,1,0,0,1,1,0,1,0,1,1,...,1,South Asian,0,0,Pakistan,0,6,18 and more,Self,0
703,1,0,1,1,1,0,1,1,1,1,...,0,White-European,0,0,Cyprus,0,8,18 and more,Self,1

In [582]:
data_2['relation'].unique()

array(['Self', 'Parent', '?', 'Health care professional', 'Relative',
       'Others'], dtype=object)

In [583]:
data_2['age'].unique()

array(['26', '24', '27', '35', '40', '36', '17', '64', '29', '33', '18',
       '31', '30', '34', '38', '42', '43', '48', '37', '55', '50', '53',
       '20', '28', '21', '383', '47', '32', '44', '?', '19', '58', '45',
       '22', '39', '25', '23', '54', '60', '41', '46', '56', '61', '59',
       '52', '49', '51'], dtype=object)

In [584]:
data_2['contry_of_res'].unique()

array(['United States', 'Brazil', 'Spain', 'Egypt', 'New Zealand',
       'Bahamas', 'Burundi', 'Austria', 'Argentina', 'Jordan', 'Ireland',
       'United Arab Emirates', 'Afghanistan', 'Lebanon', 'United Kingdom',
       'South Africa', 'Italy', 'Pakistan', 'Bangladesh', 'Chile',
       'France', 'China', 'Australia', 'Canada', 'Saudi Arabia',
       'Netherlands', 'Romania', 'Sweden', 'Tonga', 'Oman', 'India',
       'Philippines', 'Sri Lanka', 'Sierra Leone', 'Ethiopia', 'Viet Nam',
       'Iran', 'Costa Rica', 'Germany', 'Mexico', 'Russia', 'Armenia',
       'Iceland', 'Nicaragua', 'Hong Kong', 'Japan', 'Ukraine',
       'Kazakhstan', 'AmericanSamoa', 'Uruguay', 'Serbia', 'Portugal',
       'Malaysia', 'Ecuador', 'Niger', 'Belgium', 'Bolivia', 'Aruba',
       'Finland', 'Turkey', 'Nepal', 'Indonesia', 'Angola', 'Azerbaijan',
       'Iraq', 'Czech Republic', 'Cyprus'], dtype=object)

In [585]:
print("Counting ? values\n")
print(data_2.isin(['?']).sum(axis=0))

Counting ? values

A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 2
gender              0
ethnicity          95
jundice             0
austim              0
contry_of_res       0
used_app_before     0
result              0
age_desc            0
relation           95
Class/ASD           0
dtype: int64

#### Feature Scaling

In [586]:
enc = LabelEncoder()
categ = ['ethnicity','contry_of_res','relation']
data_2[categ] = data_2[categ].apply(enc.fit_transform)

In [587]:
data_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,0,10,0,0,64,0,6,18 and more,5,0
1,1,1,0,1,0,0,0,1,0,1,...,1,4,0,1,13,0,5,18 and more,5,0
2,1,1,0,1,1,0,1,1,1,1,...,1,4,1,1,56,0,8,18 and more,3,1
3,1,1,0,1,0,0,1,1,0,1,...,0,10,0,1,64,0,6,18 and more,5,0
4,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,22,0,2,18 and more,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,0,10,0,0,51,0,7,18 and more,5,1
700,1,0,0,0,0,0,0,1,0,1,...,1,3,0,0,40,0,3,18 and more,3,0
701,1,0,1,1,1,0,1,1,0,1,...,0,0,0,0,51,0,7,18 and more,0,1
702,1,0,0,1,1,0,1,0,1,1,...,1,8,0,0,47,0,6,18 and more,5,0
703,1,0,1,1,1,0,1,1,1,1,...,0,10,0,0,19,0,8,18 and more,5,1

#### Filling missing values

In [588]:
data_2["age"].mode()

0    21
dtype: object

In [589]:
data_2['ethnicity'] = data_2['ethnicity'].replace('?',np.nan)
data_2['relation'] = data_2['relation'].replace('?',np.nan)
data_2['age'] = data_2['age'].replace('?',0)

In [590]:
print(data_2.isnull().any().any())
print(data_2.isnull().sum().sum())

False
0

In [591]:
data_2['relation'].unique()

array([5, 3, 0, 1, 4, 2])

In [592]:
data_2['age'].unique()

array(['26', '24', '27', '35', '40', '36', '17', '64', '29', '33', '18',
       '31', '30', '34', '38', '42', '43', '48', '37', '55', '50', '53',
       '20', '28', '21', '383', '47', '32', '44', 0, '19', '58', '45',
       '22', '39', '25', '23', '54', '60', '41', '46', '56', '61', '59',
       '52', '49', '51'], dtype=object)

In [593]:
data_2['contry_of_res'].unique()

array([64, 13, 56, 22, 43,  9, 14,  7,  3, 36, 33, 62,  0, 38, 63, 55, 34,
       47, 10, 16, 25, 17,  6, 15, 52, 42, 50, 58, 59, 46, 29, 48, 57, 54,
       23, 66, 31, 18, 26, 40, 51,  4, 28, 44, 27, 35, 61, 37,  1, 65, 53,
       49, 39, 21, 45, 11, 12,  5, 24, 60, 41, 30,  2,  8, 32, 20, 19])

In [594]:
data_2.columns[data_2.isna().any()].tolist()

[]

In [595]:
data_2['ethnicity'].fillna(data_2['ethnicity'].mean(), inplace = True)
data_2['relation'].fillna(data_2['relation'].mean(), inplace = True)
data_2['age'].fillna(data_2["age"].mode(), inplace = True)

In [596]:
print(data_2.isnull().any().any())
print(data_2.isnull().sum().sum())

False
0

In [597]:
data_2['age'].unique()

array(['26', '24', '27', '35', '40', '36', '17', '64', '29', '33', '18',
       '31', '30', '34', '38', '42', '43', '48', '37', '55', '50', '53',
       '20', '28', '21', '383', '47', '32', '44', 0, '19', '58', '45',
       '22', '39', '25', '23', '54', '60', '41', '46', '56', '61', '59',
       '52', '49', '51'], dtype=object)

In [598]:
data_2

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,0,10,0,0,64,0,6,18 and more,5,0
1,1,1,0,1,0,0,0,1,0,1,...,1,4,0,1,13,0,5,18 and more,5,0
2,1,1,0,1,1,0,1,1,1,1,...,1,4,1,1,56,0,8,18 and more,3,1
3,1,1,0,1,0,0,1,1,0,1,...,0,10,0,1,64,0,6,18 and more,5,0
4,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,22,0,2,18 and more,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,0,10,0,0,51,0,7,18 and more,5,1
700,1,0,0,0,0,0,0,1,0,1,...,1,3,0,0,40,0,3,18 and more,3,0
701,1,0,1,1,1,0,1,1,0,1,...,0,0,0,0,51,0,7,18 and more,0,1
702,1,0,0,1,1,0,1,0,1,1,...,1,8,0,0,47,0,6,18 and more,5,0
703,1,0,1,1,1,0,1,1,1,1,...,0,10,0,0,19,0,8,18 and more,5,1

#### DataFrame to CSV

In [599]:
#data_2.to_csv('D:\COLLEGE\CODING\Github Repos\DeepDet\DataSet\Screening/Autism adults/new_csv_result-Autism-Adult-Data.csv')